.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  appearance: none; }
  .btn .octicon {
    vertical-align: text-top; }
  .btn:hover {
    text-decoration: none;
    background-repeat: repeat-x; }
  .btn:focus {
    outline: 0; }
  .btn:disabled {
    cursor: default;
    background-position: 0 0; }
  .btn:active {
    background-image: none; }

.btn-with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-large {
  padding: 0.75em 1.25em;
  font-size: inherit;
  border-radius: 6px; }

.social-count {
  float: left;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .social-count:hover, .social-count:active {
    text-decoration: none; }
  .social-count:hover {
    color: #0366d6;
    cursor: pointer; }

.btn + .social-count {
  padding: 6px 12px; }

.btn.btn-large + .social-count {
  border-radius: 0 6px 6px 0;
  padding: 0.75em 1.25em; }

.btn.btn-large, .btn.btn-large + .social-count {
  font-size: 16px; }

.btn.btn-large.btn-with-count {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
